.rotacao{
    animation: rotacao 10s ease-in-out infinite alternate;
}

@keyframes rotacao{
    0%{
        transform: rotate(0deg) scale(1) translate(0px, 0px);
    }
    80%{
        transform: rotate(360deg) scale(1.05) translate(0px, -70px)
    }
    100%{
        transform: rotate(360deg) scale(1.3) translate(0px, -70px);
    }
}